@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 20px;
    display: flex;
    background: #444444;
}

nav a {
    padding: 0 20px;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1em;
    font-weight: 300;
}


/* main */

main {
    width: 90%;
    margin: auto;
    /* background: #f2f2f2; */

    /* gradientes */
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-opcion {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* bloques - contenido */
.container-bloques {
    display: flex;
    /* flex-wrap: wrap; */
}

/* bloque uno */
.bloque-uno {
    /* border: 1px solid red; */
    margin-right: 20px;
}

.bloque-uno a {
    text-decoration: none;
    display: inline-block;
    /* border: 1px solid green; */
    padding: 20px;
    margin: 10px 0;
    background: #39A2DB;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    transition: background 1s;
}

/* bloque dos */
.bloque-dos {
    /* border: 1px solid red; */
    margin-left: 20px;
}

.bloque-dos a {
    text-decoration: none;
    display: inline-block;
    /* border: 1px solid green; */
    padding: 20px;
    margin: 10px 0;
    background: #39A2DB;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    transition: background 1s;
}

.container-bloques a:hover {
    background: #053742;
}

.container-bloques a:visited {
    background: #57CC99;

}



/* footer */
footer {
    background: #171717;
    padding: 30px;
    color: #f2f2f2;
    text-align: center;

}